extends layout

block content
  a(href="/experiment/new") create
  ul
    each experiment in experiments
      li= experiment.username
        a(href=`/experiment/${experiment.id}`) experiment.username
    else
      li There are no experiment
        
