extends layout

block content
  h1 new experiment
  form(method="post", action="/experiment",enctype="multipart/form-data")
    div
      label username
        input(type="text",name="username")
    div
      label score
        input(type="text",name="score")
    div
      input(type="submit",value="save")
